<%= content_tag :div, :class => "jumbotron jumbotronpan", :style => "background-image: url(\'https://dl.dropboxusercontent.com/u/25436882/".html_safe + params[:city] + "_pan.jpg\');".html_safe do %>
	<h2>Find fun activities in <%= @city %></h2>
<% end %>

<div class="places">
<table class="four">
		<% @categories.each_slice(4) do |slice| %>
			<tr>
				<% slice.each do |c| %>
					<td><div class="tdfour">
				  	<%= link_to :controller => 'listings', :action => 'category', :id => c, :city => params[:city] do %>
				  	<div class="imagebtn">
							<%= image_tag(c + ".jpg", :alt => c, :class =>"four") %>
							<%= content_tag :h2, :class => "caption" do %><%= c %><% end %>
						</div>
					<% end %></div></td>
				<% end %>
			</tr>
	  <% end %>
	</table>
</div>

<div class="listings">
<h2>All Listings for <%= @city %></h2>
	<table class="four">
		<% @listings.each_slice(4) do |slice| %>
			<tr>
				<% slice.each do |l| %>
					<td><div class="tdfour">
				  	<%= link_to  :controller => 'listings', :action => 'listing', :id => l.id do %>
					  	<%= image_tag("", :alt =>"picture", :class =>"four imagebtn") %>
					  	<h3><%= l.name %></h3>
				  	<% end %>
					<%= l.description %></div></td>
				<% end %>
			</tr>
	  <% end %>
	</table>
</div>