<h1>Edit your listing</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p><br/>
<% end %>

<%= form_tag("/listings/update", :method => "post", :multipart => true, :class => "form-horizontal", :role => "form", :onsubmit => "return validateListingFormEdit()", :name => "listingform") do %>
  <fieldset>
  <legend>Edit Listing</legend>
  <div class="form-group"><%= label_tag(:name, "Listing Name", :class => "col-md-4 control-label", :for => "text-input") %>
    <div class="col-md-4"><%= text_field_tag(:name, @listing.name, :class => "form-control input-md") %></div>
  </div>
  <div class="form-group"><%= label_tag(:description, "Description", :class => "col-md-4 control-label", :for => "text-input") %>
    <div class="col-md-4"><%= text_area_tag(:description, @listing.description, :class => "form-control input-md", :rows => "3") %></div>
  </div>
  <div class="form-group"><%= label_tag(:category, "Category", :class => "col-md-4 control-label", :for => "selectbasic") %>
    <div class="col-md-4"><%= select_tag :category, options_for_select(['Eat', 'Outdoors', 'Nightlife', 'Sightseeing'], @listing.category), :class => "form-control" %></div>
  </div>
  <div class="form-group"><%= label_tag(:city, "City", :class => "col-md-4 control-label", :for => "selectbasic") %>
    <div class="col-md-4"><%= select_tag :city, options_for_select(['New York', 'San Francisco'], @listing.city), :class => "form-control" %></div>
  </div>
  <div class="form-group"><%= label_tag(:address, "Address", :class => "col-md-4 control-label", :for => "text-input") %>
    <div class="col-md-4"><%= text_field_tag(:address, @listing.address, :class => "form-control input-md") %></div>
  </div>

  <div class="form-group">
    <%= label_tag(:dates, "Dates", :class => "col-md-4 control-label", :for => "text-input") %>
    <div class = "col-md-4 input-group date" style="padding-left: 15px;">
      <input id="cal" type="text" class="form-control">
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
  <%= hidden_field_tag(:dates, nil, :class => "form-control", :value => "hi", :id => "dates") %>
  <script>
    var str = $("#dates").val();
    $('#cal').datepicker({
      multidate: true,
      startDate: "today",
      todayHighlight: true,
      format: "mm-dd-yyyy",
    });
    function getDates() {
      $('#dates').val($('#cal').datepicker("getDates"));
    }
  </script>

  <div class="form-group"><%= label_tag(:photo, "Change Photo", :class => "col-md-4 control-label", :for => "filebutton") %>
    <div class="col-md-4"><%= file_field_tag(:photo, :class => "input-file", :id => "filebutton") %></div>
  </div>
  <%= hidden_field_tag(:listing, params[:listing]) %>
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <%= submit_tag("Submit", :class=>"btn btn-primary", :id=>"singlebutton", :onclick => "return getDates()") %>
    </div>
  </div>
</fieldset>
<% end %>