<h1>Find a Listing</h1>

<%= form_tag("/listings/post_explore", :method => "post", :multipart => true, :class => "form-horizontal", :role => "form") do %>
  <fieldset>
  <legend>Filter by category and date available</legend>

  <div class="form-group">
    <label class="col-md-4 control-label" for="categorygroup">Category</label>
    <div class="btn-group col-md-4" data-toggle="buttons" id="categorygroup">
      <% @categories.each do |c| %>
        <label for=<%= c %> id=<%= c %>Label class="btn btn-default"><%= c %></label>
        <%= check_box_tag c, c, false, name: 'checkboxes[]', style:'display:none;' -%>
      <% end %>
  </div>
  </div>

 <div class="form-group">
    <%= label_tag(:dates, "Date available", :class => "col-md-4 control-label", :for => "text-input") %>
    <div class = "col-md-4 input-group date" style="padding-left: 15px;">
      <div id="cal"></div>
    </div>
  </div>
  <%= hidden_field_tag(:dates, nil, :class => "form-control", :value => "hi", :id => "dates") %>

  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <%= submit_tag("Search", :class=>"btn btn-primary", :id=>"singlebutton", :onclick => "return getDates()") %>
    </div>
  </div>
</fieldset>
<% end %>


<% content_for (:foot) do %>
  <%= javascript_include_tag "bootstrap-datepicker.js" %>
  <script>
  $('#cal').datepicker({
    startDate: "today",
    todayHighlight: true,
    format: "mm-dd-yyyy"
  });
  function getDates() {
    $('#dates').val($('#cal').datepicker("getDates"));
  }

  $('#EatLabel').on('click', function(){
    var obj = document.getElementById('Eat');
      if (!obj.checked)
        obj.checked=true;
      else
        obj.checked=false;
  });
  $('#OutdoorsLabel').on('click', function(){
    var obj = document.getElementById('Outdoors');
      if (!obj.checked)
        obj.checked=true;
      else
        obj.checked=false;
  });

  $('#NightlifeLabel').on('click', function(){
    var obj = document.getElementById('Nightlife');
      if (!obj.checked)
        obj.checked=true;
      else
        obj.checked=false;
  });

  $('#SightseeingLabel').on('click', function(){
    var obj = document.getElementById('Sightseeing');
      if (!obj.checked)
        obj.checked=true;
      else
        obj.checked=false;
  });

  </script>
<% end %>