
<div id="home">
  <%= image_tag("home1.jpg", :alt => "", :class => "home") %>
  <h4>Live like a local.
    <br />
  <select name="city" value="" class="select-block" onchange="this.form.submit()">
    <option value="" disabled="disabled" selected="selected">Choose a Place</option>
    <option value="sanfrancisco">San Francisco</option>
    <option value="newyork">New York</option>       
  </select>
  </h4>
</div>

<div id="places">
  <h4>Explore Places</h4>
  <table class="main">
    <tr>
      <td><%= link_to image_tag("city_sf.jpg", :at =>"sf", :class => "city"), :controller => 'listings', :action => 'sanfrancisco'%></td>
      <td><%= link_to image_tag("city_ny.jpg", :at =>"ny", :class => "city"), :controller => 'listings', :action => 'newyork'%></td>
      <td><%= link_to image_tag("city_sf.jpg", :at =>"sf", :class => "city"), :controller => 'listings', :action => 'sanfrancisco'%></td>
      <td><%= link_to image_tag("city_ny.jpg", :at =>"ny", :class => "city"), :controller => 'listings', :action => 'newyork'%></td>
    </tr>
  </table>
</div>