<h1><%= @listing.name %></h1>
<h4><%= link_to @listing.user.name, :controller => 'listings', :action => 'user', :id => @listing.user%></h4>

<h3><%= @listing.description %></h3>

<%= image_tag(asset_path(@listing.photo), :alt => "picture", :height => "400px") %>

<h3><a href="mailto:<%= @email %>?Subject=Hello" target="_top">
Contact <%= @listing.user.name %></a></h3>

<h3><%= link_to "Write a Review", :controller => 'listings', :action => 'review', :id => params[:id]%></h3>

<% @reviews.each do |r| %>
	<h4><%= r.title %></h4>
	<h5><%= r.description %></h4>
<% end %>
