<h1><%= @listing.name %></h1>
<h4><%= link_to @listing.user.name, :controller => 'listings', :action => 'user', :id => @listing.user%></h4>

<h3><%= @listing.description %></h3>

<img src="<%=asset_path(@listing.photo)%>" alt="<%=@listing.name%>" class="four imagebtn">
<br>
<a class="btn btn-primary" href="mailto:<%= @email %>?Subject=Hello" target="_top">
Contact</a>
<a class = "btn btn-primary" href="<%= params[:id] %>/review">Review</a>
<br><br>
<h4>Reviews</h4> 
<h5>Average Rating: <%= @average %></h5>

<% @reviews.each do |r| %>
	<div class="panel panel-primary">
		<div class="panel-heading"><%= r.title %></div>
		<div class="panel-body"><%= r.description %></div>
	</div>
<% end %>
