<h3><%= @listing.name %><%=@lala%><%=@listing.photo%></h3>

<img src="<%=asset_path(@listing.photo)%>" alt="picture" width="400">

<h3><%= link_to "upload", :controller => 'listings', :action => 'photo', :id => params[:id]%></h3>
