<% content_for (:head) do %>
<% end %>

<div class="col-lg-12">
	<div class="row">
		<div class="col-md-7">
			<div class="well well-lg">
				<h1><%= @listing.name %></h1>
				<h4><%= @listing.description %></h4>
				<% if @current_user == @listing.user %>
					<%= link_to "Edit Listing", :controller => 'listings', :action => 'edit', :listing => @listing.id%>
				<% end %>
				<div class="event">
					<center><%= image_tag(asset_path(@listing.photo), :alt => @listing.name, :class => "ev") %></center>
				</div>
			</div>

			<div class="well well-lg">
				<h1>Location</h1>
				<h4><%= @listing.address %></h4>
				<center>
						<div id="map_canvas" style="width: 600px; height: 400px;"></div>
				</center>
				<%= hidden_field_tag(:address, nil, :class => "form-control", :value => @address, :id => "mapaddress") %>
			</div>

			<div class="well well-lg">
				<h1>Reviews</h1>
				<% if @average == -1 %>
					<i>No ratings available yet.</i><br /><br />
				<% else %>
					<h4>Overall Rating: <span class="rateit" data-rateit-value=<%= @average %> data-rateit-readonly="true" data-rateit-ispreset="true" data-rateit-resetable="false"></span></h4>
				<% end %>
				
				<% if @current_user != @listing.user %>
					<%= link_to "Write a Review", params[:id]+"/review", :class => "btn btn-primary" %>
				<% end %>

				<br /><br />
				<% @reviews.each do |r| %>
					<%= link_to :controller => 'listings', :action => 'user', :id => User.find(r.user_id) do %>
					<div class="imgreview">
						<%= image_tag(asset_path(User.find(r.user_id).photo), :alt => User.find(r.user_id).name, :class => "thumb") %>
						<center><%= User.find(r.user_id).name %></center>
					</div>
					<% end %>

					<div class="panel panel-info panel-review">
						<div class="panel-heading"><span class="rateit" data-rateit-value=<%= r.rating%> data-rateit-readonly="true" data-rateit-ispreset="true" data-rateit-resetable="false"></span>&nbsp;&nbsp;&nbsp;<b><%= r.title %></b></div>
						<div class="panel-body"><%= r.description %>
							<br /><br /><span class="date"><%= r.created_at.to_formatted_s(:long) %></span></div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-5">
			<div class="well well-lg">
				<center><h4>Dates Available</h4></center>
				<center><div id="cal"></div></center>
				<%= hidden_field_tag(:dates, nil, :class => "form-control", :value => @dates, :id => "datearr") %>
			</div>
			<div class="well well-lg">
				<div class="profile">
					<%= image_tag(asset_path(@listing.user.photo), :alt => @listing.user.name, :class => "proflist") %>
				</div>
				<center><h3><%= @listing.user.name %></h3>
				<p><%= link_to "More about this host", :controller => 'listings', :action => 'user', :id => @listing.user%></p>
				<% if @current_user != @listing.user %>
					<%= link_to "Send Message", {:controller => 'user', :action => 'email', :id => @listing.user, :listing => params[:id], :linkedfrom => 'listing'}, :class => "btn btn-primary" %>
				<% end %>
				</center>
			</div>
		</div>
	</div>
</div>

<% content_for (:foot) do %>
  <%= javascript_include_tag "jquery.rateit" %>
  <%= javascript_include_tag "bootstrap-datepicker/core.js" %>

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
    type="text/javascript"></script>
	<script>

	//Javascript for loading the map

		var map = null;
		var geocoder = null;
	    function initialize(address) {
	      if (GBrowserIsCompatible()) {
	        map = new GMap2(document.getElementById("map_canvas"));
	        geocoder = new GClientGeocoder();
	        if (geocoder) {
	          geocoder.getLatLng(
	            address,
	            function(point) {
	              if (!point) {
	                //alert(address + " not found");
	              } else {
	                map.setCenter(point, 15);
	                var marker = new GMarker(point, {draggable: true});
	                map.addOverlay(marker);
	              }
	            }
	          );
	        }
	      }
	    }
	    var address = $("#mapaddress").val();
	    initialize(address);

	//Javascript for displaying the dates available

		var str = $("#datearr").val();
		$('#cal').datepicker({
			daysOfWeekDisabled: "0,1,2,3,4,5,6",
	        beforeShowDay: function(date) {
	        	var dateArr = new Array();
				dateArr = str.split(",");
				for (var i = 0; i < dateArr.length; i++) {
	        		var current = date.toString();
	        		if (dateArr[i] == current) {
	        			return {
	              tooltip: 'Example tooltip',
	              classes: 'active'
	            };
					}
				}
			}
	   });
	</script>
<% end %>