<div class="col-lg-12">
	<div class="row">
		<div class="col-md-7">
			<div class="well well-lg">
				<h1><%= @listing.name %></h1>
				<h4><%= @listing.description %></h4>
				<div class="event">
					<img src="<%=asset_path(@listing.photo)%>" alt="<%=@listing.name%>" class="ev">
				</div>
			</div>
			<div class="well well-lg">
				<h1>Reviews</h1>
				<% if @average == -1 %>
					<i>No ratings available yet.</i><br /><br />
				<% else %>
					<h4>Overall Rating: <span class="rateit" data-rateit-value=<%= @average %> data-rateit-readonly="true" data-rateit-ispreset="true" data-rateit-resetable="false"></span></h4>
				<% end %>
				
				<!-- Eventually edit this code so that the user cannot rate himself; compare current_user.uid and @listing.user.uid -->
				<a class="btn btn-primary" href="<%= params[:id] %>/review">Write a Review</a>

				<br /><br />
				<% @reviews.each do |r| %>
					<%= link_to :controller => 'listings', :action => 'user', :id => User.find(r.user_id) do %>
					<div class="imgreview">
						<img src="<%=asset_path(User.find(r.user_id).photo)%>" alt="<%=User.find(r.user_id).name%>" class="thumb">
						<center><%= User.find(r.user_id).name %></center>
					</div>
					<% end %>

					<div class="panel panel-info panel-review">
						<div class="panel-heading"><span class="rateit" data-rateit-value=<%= r.rating%> data-rateit-readonly="true" data-rateit-ispreset="true" data-rateit-resetable="false"></span>&nbsp;&nbsp;&nbsp;<b><%= r.title %></b></div>
						<div class="panel-body"><%= r.description %>
							<br /><br /><span class="date"><%= r.created_at.to_formatted_s(:long) %></span></div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="col-md-5">
			<div class="well well-lg">
				<img align="center" src="http://yuilibrary.com/yui/docs/assets/calendar/calendar.png">
				<center><p>Dates widget to come.</p></center>
			</div>
			<div class="well well-lg">
				<div class="profile">
					<img src="<%=asset_path(@listing.user.photo)%>" alt="<%=@listing.user.name%>" class="proflist">
				</div>
				<center><h3><%= @listing.user.name %></h3>
				<p><%= link_to "More about this host", :controller => 'listings', :action => 'user', :id => @listing.user%></p>
				<a class="btn btn-primary" href="mailto:<%= @email %>?Subject=Hello" target="_top">Contact</a></center>
			</div>
		</div>
	</div>
</div>
&nbsp;