<% if @user != nil %>
	<h1><%= @user.name%></h1>
	<p><%= @user.bio %></p>
	<div class="listings">
		<h2>All Listings for <%= @user.name%></h2>
		<table class="four">
		  <tr class="four">
		  	<% @listings.each do |l| %>
				  <td><div class="tdfour">
				  	<h3><%= link_to l.name, :controller => 'listings', :action => 'listing', :id => l.id %></h3>
				  	<img src="<%=asset_path(l.photo)%>" alt="picture" class="four imagebtn">
				  <%= l.description %></div></td>
				<% end %>
					<td><div class="tdfour"></div></td>
		  </tr>
		</table>
	</div>
<% else %>
	<h1> asdfasdf</h1>
<%end%>