<% if @user != nil %>
	<h1><%= @user.name%></h1>
	<p><%= @user.bio %></p>
	<div class="well well-sm">
	<div class="listings">
		<h2>All Listings for <%= @user.name%></h2>
		<table class="four">
			<% @listings.each_slice(4) do |slice| %>
				<tr>
					<% slice.each do |l| %>
						<td><div class="tdfour">
					  	<%= link_to :controller => 'listings', :action => 'listing', :id => l.id do %>
						  	<%= image_tag("", :alt =>"picture", :class =>"four imagebtn") %>
						  	<h3><%= l.name %></h3>
					  	<% end %>
					  		<h4><%= link_to l.user.name, :controller => 'listings', :action => 'user', :id => l.user%></h4>
					  <%= l.description %></div></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<% else %>
	<h1> asdfasdf</h1>
<%end%>