<% if @user != nil %>
<div class="well well-sm">
<img src="<%=asset_path(current_user.photo)%>" alt="<%=current_user.name%>" class="thumb">
	<h1><%= @user.name%></h1>
	<p><%= @user.bio %></p>
</div>
	<div class="well well-sm well-full">
	<div class="listings">
		<h2>All Listings for <%= @user.name%></h2>
		<table class="four">
			<% @listings.each_slice(4) do |slice| %>
				<tr>
					<% slice.each do |l| %>
						<td><div class="tdfour">
					  	<%= link_to :controller => 'listings', :action => 'listing', :id => l.id do %>
					  	
						  	<img src="<%=asset_path(l.photo)%>" alt="<%=l.name%>" class="four imagebtn">
						 
						  	<h3><%= l.name %></h3>
					  	<% end %>
					  		<h4><%= link_to l.user.name, :controller => 'listings', :action => 'user', :id => l.user%></h4>
					  <%= l.description %></div></td>
					<% end %>
					<% if @listings.count < 4 %>
				  <% for x in 0...(4-@listings.count) do %>
				  	<td><div class="tdfour">&nbsp;</div></td>
				  <% end %>
				<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<% else %>
	<h1> asdfasdf</h1>
<%end%>