<% content_for (:head) do %>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery.Jcrop" %>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#cropbox').Jcrop({
			onChange: showCoords,
			onSelect: showCoords,
			aspectRatio: 1,
			setSelect: [0, 0, 200, 200],
			minSize: [200, 200]
		});
	});
	function showCoords(c) {
		jQuery('#x1').val(c.x);
		jQuery('#y1').val(c.y);
		jQuery('#x2').val(c.x2);
		jQuery('#y2').val(c.y2);
		jQuery('#w').val(c.w);
		jQuery('#h').val(c.h);
	};
</script>
<% end %>

<div class="well well-lg well-full">
	<h2>Crop image</h2>
	<center><%= image_tag current_user.photo, :class => "crop", :id => "cropbox" %></center>
	<br />
	<center>
		<%= form_tag("/user/post_crop", :method => "post", :multipart => true, :class => "form-horizontal coords", :role => "form") do %>
			<fieldset>
				<input type="hidden" size="4" id="x1" name="x1" />
				<input type="hidden" size="4" id="y1" name="y1" />
				<input type="hidden" size="4" id="x2" name="x2" />
				<input type="hidden" size="4" id="y2" name="y2" />
				<input type="hidden" size="4" id="w" name="w" />
				<input type="hidden" size="4" id="h" name="h" />
			  <%= submit_tag("Crop", :class=>"btn btn-primary", :id=>"singlebutton") %>
			</fieldset>
		<% end %>
	</center>
</div>