<% content_for (:head) do %>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery.Jcrop" %>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#cropbox').Jcrop({
			onChange: showCoords,
			onSelect: showCoords
		});
	});
	function showCoords(c) {
		jQuery('#x1').val(c.x);
		jQuery('#y1').val(c.y);
		jQuery('#x2').val(c.x2);
		jQuery('#y2').val(c.y2);
		jQuery('#w').val(c.w);
		jQuery('#h').val(c.h);
	};
</script>
<% end %>

<div class="well well-lg well-full">
	<h2>Crop image</h2>
	<center><%= image_tag current_user.photo, :class => "crop", :id => "cropbox" %></center>
</div>

<%= form_tag("/user/postcrop", :method => "post", :multipart => true, :class => "form-horizontal coords", :role => "form", :onsubmit => "return false;", :name => "reviewform") do %>
	<fieldset>
		<label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
		<label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
		<label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
		<label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
		<label>W <input type="text" size="4" id="w" name="w" /></label>
		<label>H <input type="text" size="4" id="h" name="h" /></label>
	  <%= submit_tag("Crop", :class=>"btn btn-primary", :id=>"singlebutton") %>
	</fieldset>
<% end %>