<%= render "dashboard" %>
<div class="well well-lg">
				<h1>Inbox</h1>
				<br /><br />
					<% @emails.reverse_each do |e| %>
						<div class="panel panel-info">
							<div class="panel-heading"><b><%= e.subject %></b> <br>From <%= User.find(e.sender).name %> at <%= e.created_at %> <br /><br><%= link_to "Reply", :controller => 'user', :action => 'email', :id => e.sender, :linkedfrom => 'inbox' %></div>
							<div class="panel-body"><%= e.body %></div>
						</div>
					<% end %>
			</div>