<%= render "dashboard" %>

<% if @listings.length == 0 %>
	<h4>No Listings</h4>
	<p>You don't have any listings yet! <%= link_to "Create a listing now!", "/listings/create" %></p>
<% else %>
		<div class="listings">
			<%= link_to "Create New Listing", "/listings/create" %></p>
			<h2>All Listings for <%= @current_user.name%></h2>
			<table class="four">
			  <tr class="four">
			  	<% @listings.each do |l| %>
					  <td><div class="tdfour">
					  	<%= link_to  :controller => 'listings', :action => 'listing', :id => l.id do %>
						  	<img src="<%=asset_path(l.photo)%>" alt="picture" class="four imagebtn">
						  	<h3><%= l.name %></h3>
					  	<% end %>
					  <p><%= l.description %></p>
						<p><%= link_to "Delete", :controller => 'listings', :action => 'delete', :listing => l.id%> | <%= link_to "Edit", :controller => 'listings', :action => 'edit', :listing => l.id%></p></div></td>
					<% end %>
						<td><div class="tdfour"></div></td>
			  </tr>
			</table>
		</div>
<% end %>