<%= render "dashboard" %>

<% if @listings.length == 0 %>
	<h4>No Listings</h4>
	<p>You don't have any listings yet! <%= link_to "Create a listing now!", "/listings/create" %></p>
<% else %>
<%= link_to "/listings/create" do %>
				<center><h4><span class="glyphicon glyphicon-plus"></span> Create New Listing</h4></center>
			<% end %>
<div class="well well-sm">
		<div class="listings">
			
			<h2>All Listings for <%= @current_user.name%></h2>
			<table class="four">
				<% @listings.each_slice(4) do |slice| %>
					<tr>
						<% slice.each do |l| %>
							<td><div class="tdfour">
						  	<%= link_to  :controller => 'listings', :action => 'listing', :id => l.id do %>
						  	<img src="<%=asset_path(l.photo)%>" alt="picture" class="four imagebtn">
						  	<h3><%= l.name %></h3>
					  	<% end %>
						  <p><%= l.description %></p>
							<p><%= link_to "Edit", :controller => 'listings', :action => 'edit', :listing => l.id%> | <%= link_to "Delete", :controller => 'listings', :action => 'delete', :listing => l.id%></p></div></td>
						<% end %>
						<% if @listings.count < 4 %>
						  <% for x in 0...(4-@listings.count) do %>
						  	<td><div class="tdfour">&nbsp;</div></td>
						  <% end %>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
<% end %>