<%= render "dashboard" %>

<h4><%= current_user.name %></h4> 
<img src="<%=asset_path(current_user.photo)%>" alt="picture" class="four imagebtn">
<p><%= current_user.email %></p>
<p><%= current_user.bio %></p>
<%= link_to "Edit Profile", :controller => 'user', :action => 'edit'%>