<h1><strong>Dashboard</strong></h1>

<%= link_to "Inbox", :controller => 'user', :action => 'inbox'%>
<%= link_to "Profile", :controller => 'user', :action => 'profile'%>
<%= link_to "My Listings", :controller => 'user', :action => 'listings'%>

<h2><%= current_user.name %></h2>
<h2><%= current_user.photo %></h2>
<h2><%= current_user.email %></h2>