<!DOCTYPE html>
<html>
  <head>
    <title>Friendswap</title>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
      type="text/javascript"></script>
    <%= yield(:head) %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
     <div id="container">
        <div id="header">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("logo.png", :alt => "friendswap"), {:action => 'index', :controller => 'listings'}, :class =>"navbar-brand" %>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <% if current_user %>
                    <li><p class="navbar-text">Welcome, <strong><%= current_user.name %></strong>!</p></li>
                    <li><%= link_to "Explore", :controller => 'listings', :action => 'index'%></li>
                    <li><%= link_to "Dashboard", :controller => 'user', :action => 'dashboard'%></li>
                    <li><%= link_to "Create Listing", "/listings/create" %></li>
                    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
                  <% else %>
                    <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
                  <% end %>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>

        <div id="main">
           <%= yield %> 
        </div>

      </div>
      <div class="push"></div>
    </div>
    <div class="footer">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "About Friendswap", "#" %></li>
              <li><%= link_to "Customer Service", "#" %></li>
            </ul>
          </div>
       </div>
      </nav>
    </div>
    
    <%= javascript_include_tag "jquery.rateit" %>
  </body>
</html>
